{% extends 'base_test/base.html' %}
{% block content %}
{% load staticfiles %}

<script src="{% static 'base_test/js/webrtc/RTCMultiConnection.min.js' %}"></script>

<style>
		.photo_content_item { width:  280px; float: left; }
		.photo_content_image { width: 280px; }
		.photo_content_back{  height: 345px; overflow-y: hidden; background: #FFF5B9; }
		.custom_form_inline{ margin-top: 15px; }
</style>

<script>
	$(document).ready(function(){

		// Get the modal
		var modal = document.getElementById('myModal');

		// Get the button that opens the modal
		var btn = document.getElementById("myBtn");

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks the button, open the modal
		btn.onclick = function() {
			modal.style.display = "block";
		}

		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
			modal.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}

		$("#photo_list_templ").tmpl({{ talk_list|safe }}).appendTo( "#photo_add_content" );
		$('#post_btn').click(function(){

			$('#id_hash_tags').val('')
			$({{ hash_tags|safe }}).each(function(index, item){

					var text = $('#hash_tag_ids').val();
					if(text.length>0){
						text+=','
					}
					text+=item.id;
					$('#hash_tag_ids').val(text);
			});

			$('#myBtn').trigger('click');

		});


		$('#file_temp_submit').click(function(){

				var form_data = new FormData();
				form_data.append("img_file",$('input[name=img_file]')[0].files[0])
				formAjax('POST', form_data, "{% url 'collection:temp_image' %}"
						, 'application/json'
						, function(response){
								console.log(response);
								var text = $('#image_file_ids').val()

								if(text.length>0){
									text+=','
								}

								text+=response.id
								$('#image_file_ids').val(text)
								$('#post_image_display').append($('<img/>').width(100).height(100).attr('src',response.img_file))
				})

		});


		$('#post_upload_btn').click(function(){

			var form_data = $("#posting_form").serialize();

			$.ajax( {
				  type: "POST",
				  url:  "{% url 'saytalk:posting' %}",
				  data: form_data,
				  success: function( response ) {
				        console.log(response);
                  		socket.emit('request new post', response );
				  }
				} );
		});


            //post alert
			var socket = io.connect('http://localhost:9001');
		    socket.on('new post', function(data){
                  console.log(data)
            });

            $('#request_btn').click(function(){
                  socket.emit('request new post', 'howdy');
            });


			//chat room alert
	        var connection = new RTCMultiConnection();
            connection.socketURL = 'https://mysterious-wave-22797.herokuapp.com:443/';

    		var publicRoomsDiv = $('#public-rooms');
    		var room_list = {};
            (function looper() {
                // connection.getPublicModerators(startsWith, callback)
                connection.getPublicModerators(function(array) {
                    publicRoomsDiv.empty();
                    array.forEach(function(moderator) {
                        // moderator.userid
                        // moderator.extra

                        if(moderator.userid == connection.userid) return; // if owner himself

						//if(room_list[moderator.userid]) return;

						//console.log(room_list[moderator.userid]);

						room_list[moderator.userid] = true;
						publicRoomsDiv.append($('<a/>').attr('href', '/saytalk/chat_detail/#'+moderator.userid).text('room_'+moderator.userid)).append($('<br/>'));
                    });
                    setTimeout(looper, 3000);
                });
            })();


		$('.detail_btn').click(function(){
				location.href = '/saytalk/talk_detail/'+$(this).attr('id');
		});

		$('#chat_btn').click(function(){
			location.href = "/saytalk/chat_detail/";
		});

	});
</script>

<script id="photo_list_templ" type="text/x-jquery-tmpl">
			<div class="portfolio-item graphic-design photo_content_item">
				<div class="he-wrap tpl6 photo_content_back">
						<img src="${ img_file }" class='photo_content_image' alt="">
					<div class="he-view">
						<div class="bg a0" data-animate="fadeIn">
							<h3 class="a1" data-animate="fadeInDown"> ${ title } </h3>
							<p> ${ content } </p>
							<h4 style=" color: yellow"> ${ tag_names } </h4>
							<span data-rel="prettyPhoto" id= "${ id }" class="dmbutton a2 detail_btn" data-animate="fadeInUp"> Detail </span>
							<span data-rel="prettyPhoto" id= "${ id }" class="dmbutton a2 remove_btn" data-animate="fadeInUp"> Remove </span>
						</div><!-- he bg -->
					</div><!-- he view -->
				</div><!-- he wrap -->
			</div><!-- end col-12 -->
</script>


<style>
.login_content{ margin-top : 10px; }
</style>
<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Say Talk</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->


	<!-- *****************************************************************************************************************
	 CONTACT FORMS
	 ***************************************************************************************************************** -->

	 <div class="container mtb login_content">
	 	<div class="row">
	 		<div class="col-lg-12">

				<h4> 게시글과 채팅방입니다. </h4>

	 			<div class="hline"></div>
				<div class="form-inline custom_form_inline">
				<button class="btn btn-danger" id="post_btn"> 글쓰기 </button>
				<button class="btn btn-warning" id="video_btn"> 영상 채팅 </button>
				<button class="btn btn-warning" id="chat_btn"> 일반 채팅 </button>

				<button class="btn btn-primary" id="request_btn">테스트용</button>
				<input type="text" class="form-control">
				</div>

				<div id="public-rooms"></div>
				 <div id="portfoliowrap">
				 <div class="portfolio-centered">
				 <div class="recentitems portfolio" id="photo_add_content">


				 </div>
				 </div>
		 	 	 </div>
			</div>
	 	</div><! --/row -->
	 </div><! --/container -->

	<button id="myBtn" style="display: none">Open Modal</button>
	<div id="myModal" class="modal">


	  <!-- Modal content -->
	  <div class="modal-content">
		  <span class="close">×</span>
		  <h4> Post 글쓰기 </h4>
		  <form id='posting_form' class ="form-group" action="{% url 'saytalk:posting' %}" method="POST">
					{% csrf_token %}
					{{ post_form.as_p }}
			 		<p id="post_image_display"></p>
			  		<input type="hidden" id="hash_tag_ids", name="hash_tag_ids">
			  		<input type="hidden" id="image_file_ids", name="image_file_ids">
		  </form>

		  <div role="form-inline" class="form-inline" method="POST"  enctype="multipart/form-data" action="">
			  <div class="form-group">
			 	{{ image_form }}
			  <span id="file_temp_submit" class="btn btn-danger">첨부파일 추가</span>
			  </div>
		  </div>
		  <br>
		  <input id='post_upload_btn' type="submit" value="글쓰기" class="btn btn-warning">
	  </div>
	</div>


<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4">
		 			<h4>API</h4>
		 			<div class="hline-w"></div>
		 		</div>

		 		<div class="col-lg-8">
		 			<h4>Description</h4>
		 			<div class="hline-w"></div>
		 		</div>

		 	</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/footerwrap -->

{% endblock %}