{% extends 'base_test/base.html' %}
{% block content %}

{% load staticfiles %}
<style>
.login_content{ margin-top : 10px; }

.custom_form_group{
    width: 100%;
    margin-top: 16px;
}

.custom_row{
    margin-bottom: 18px;
}

.image_dir{
	width: 100px;
    height: 100px;
}
.img_class_dev{
    display: block;
    float: left;
    margin-right: 15px;
    background : grey;
}
.img_block_dev{
	display: block;
    float: left;
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 21px;
}

.post_detial_div{ display: block; float: left; width: 100%;}
</style>

<script>
	$(document).ready(function(){

			 var _post_array = {{ talk_detail|safe }}.concat({{ talk_sub_detail|safe }});
			 console.log(_post_array);

       		 $("#saytalk_detail_templ").tmpl(_post_array).appendTo( "#post_detail_div" );

       		 $(_post_array).each(function(index, item){

				if(index==0){
					$('#is_parent').val(item.id);
				}

				if(item.tags_names){
					$(item.tag_names.split(',')).each(function(index_sub, item_sub){
							$('#tag_'+item.id).append($('<button/>').addClass('btn btn-theme').text(item_sub));
					});
				}

				if(item.talk_img){
					$(item.talk_img.split(',')).each(function(index_sub, item_sub){
							$('#img_'+item.id).append($('<img/>').width('200px').attr('src',{{ img_url }}+ item_sub.replace(' ','')));
					});
				}

			 });



		$('#file_temp_submit').click(function(){
				var form_data = new FormData();
				form_data.append("img_file",$('input[name=img_file]')[0].files[0])
				formAjax('POST', form_data, "{% url 'collection:temp_image' %}"
						, 'application/json'
						, function(response){
								console.log(response);
								var text = $('#image_file_ids').val();

								if(text.length>0){
									text+=','
								}

								text+=response.id;
								$('#image_file_ids').val(text);
								$('#post_comment_form').append($('<img/>').width(100).height(100).attr('src',response.img_file));
				})

		});


		$('#post_comment_input').click(function(){

				var form_data = $("#post_comment_form").serialize();

				$.ajax( {
					  type: "POST",
					  url:  "{% url 'saytalk:posting' %}",
					  data: form_data,
					  success: function( response ) {
						location.reload();
					  }
					} );

		});


	});
</script>

<script id="saytalk_detail_templ" type="text/x-jquery-tmpl">
            <div class="img_block_dev">
            	<span class="img_class_dev member_detail_btn">
            	 <img class="image_dir" src="${profile_img}" alt=""></span>
                <span>
                	<strong class="member_detail_btn">${title}</strong>
                </span>
                <p>${content}</p>
				<p id="tag_${id}" class="post_detial_div"></p>
  				<p id="img_${id}" class="post_detial_div"></p>
            </div>
</script>


<style>
.login_content{ margin-top : 10px; }
</style>
<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Talk Detail</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->


	<!-- *****************************************************************************************************************
	 CONTACT FORMS
	 ***************************************************************************************************************** -->

	 <div class="container mtb login_content">
	 	<div class="row">

	 		<div class="col-lg-12">
	 			<h4> 게시글 상세 페이지 </h4>
	 			<div class="hline"></div>
		 			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					<p id="post_detail_div" class="post_detial_div"></p>
					<p id="post_comment_div" class="post_detial_div">

					<hr>

					<form class="form-class" id="post_comment_form">
						{{ comment_post.as_p }}
						<input type="hidden" name="is_parent" id="is_parent" value="true">
						<input type="hidden" name="image_file_ids" id="image_file_ids">
					</form>

					<div class="form-inline">
						{{ comment_img_post }}
						<button class="btn btn-danger" id="file_temp_submit"> 이미지 첨부 </button>
					</div>
					<br>
					<button class="btn btn-warning" id="post_comment_input"> 글작성 </button>
				</p>

			</div>
	 	</div><! --/row -->
	 </div><! --/container -->



{% endblock %}