{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'base_test/css/open.css'%}">
  <title>NULL project</title>
</head>
<body>

  <header>
    <a href="#">NULL project</a>
  </header>
  <main>
    <div class="text-box">
      <h1>All HashTags# around Me</h1>
      <div class="main-btn">
        <button class="modal-btn">What is NULL?</button>
        <a href="/main_login">Get Start</a>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer">
      <p>Fast Campus 7team</p>
      <span>Sangjun.Park, Sungho.Hong, Wanjun.Cho, Seoyeon.Yeom</span>
    </div>
  </footer>
<!--<script src="{% static 'base_test/js/modal.js' %}"></script>-->
</body>
</html>
