{% extends 'base_test/base.html' %}
{% block content %}

<script>
	$(document).ready(function(){

	});
</script>

<style>
.login_content{ margin-top : 10px; }
</style>
<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Register</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->


	<!-- *****************************************************************************************************************
	 CONTACT FORMS
	 ***************************************************************************************************************** -->

	 <div class="container mtb login_content">
	 	<div class="row">
	 		<div class="col-lg-12">
	 			<h4>지금 당장 가입하세요!</h4>
	 			<div class="hline"></div>
		 			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
		 			<form role="form" class="form-group" method="POST" action="">
						{{ register_form.as_p }}
					  <button type="submit" class="btn btn-theme">닉네임 / 핸드폰 입력</button>
					</form>

				  <form role="form" class="form-group" method="POST"  enctype="multipart/form-data" action="">
						{{ register_image_form.as_p }}
					  <button type="submit" class="btn btn-theme">첨부파일</button>
				  </form>

			</div>
	 	</div><! --/row -->
	 </div><! --/container -->


<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4">
					<h4>구현해야할 것</h4>
		 			<div class="hline-w"></div>
		 			<p> 1) 소셜 로그인, Google, CoolSMS, Pininterst, Twitter</p>
					<p> 2) auth token 방식 로그인 </p>
					<p> 3) 휴대폰 회원가입 </p>
		 		</div>

		 		<div class="col-lg-8">
		 			<h4>Description</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				GET <br/>
		 				http://localhost:8000/register <br/>
						REQUEST: { } <br/>
		 				RESPONSE : { register_form : register_form_data } <br/>
		 			</p>
		 		</div>

		 	</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/footerwrap -->

{% endblock %}