
@font-face {
	font-family: 'Vollkorn-B';
	font-style: normal;
	font-weight: normal;
	src: url("Fonts/Vollkorn/Vollkorn-Bold.ttf");
}

@font-face {
	font-family: 'Vollkorn-R';
	font-style: normal;
	font-weight: normal;
	src: url("Fonts/Vollkorn/Vollkorn-Regular.ttf");
}
