
@font-face {
	font-family: 'Ubuntu-B';
	font-style: normal;
	font-weight: normal;
	src: url("Fonts/ubuntu/Ubuntu-B.ttf");
}

@font-face {
	font-family: 'Ubuntu-C';
	font-style: normal;
	font-weight: normal;
	src: url("Fonts/ubuntu/Ubuntu-B.ttf");
}

@font-face {
	font-family: 'Ubuntu-M';
	font-style: normal;
	font-weight: normal;
	src: url("Fonts/ubuntu/Ubuntu-M.ttf");
}

@font-face {
	font-family: 'Ubuntu-L';
	font-style: normal;
	font-weight: normal;
	src: url("Fonts/ubuntu/Ubuntu-L.ttf");
}


