
/* 전체 레이아웃 */

.mypage-navi{
  min-height: 80vh;
  background-color: #343434;
  color: #fff;
}

.mypage-navi ul{
  height: 160px;
  width: 120px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6rem;
}

.mypage-navi ul li a:hover,
.mypage-navi ul li a:focus{
  color: #afe6ee;
}

.mypage-view{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypage-navi, .mypage-view{
  float: left;
}



/* 개인정보 수정 페이지 */

#my-profile{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

#my-profile h3{
  font-size: 1.8rem;
  margin-bottom: 50px;
  width: 50%;
  text-align: center;
}

.page-div > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 60%;
}

.img-change img{
  width: 200px;
  height: 250px;
}

.img-change-btn{
  width: 200px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.img-change-btn button{
  width: 80px;
  height: 30px;
  border: none;
  background-color: #65d3e3;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
}

.profile-form{
  border: none;
  width: 100%;
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  height: 340px;
  text-align: right;
}

.profile-form fieldset{
  width: 100%;
  height: 90%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-form label{
  width: 30%;
  text-align: left;
  display: block;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.profile-form input{
  width: 100%;
  height: 30px;
  border: 1px solid #65d3e3;
  background-color: #fff;
}

#alarm{
  height: 25px;
  font-size: 1.4rem;
}

.profile-change-btn{
  width: 6vw;
  height: 30px;
  font-size: 1.6rem;
  border: none;
  color: #fff;
  background-color: #65d3e3;
  cursor: pointer;
}



/* 내가 쓴 글 관리 페이지 */

#my-post{
  height: 70vh;
}

.board {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#my-post h3{
  font-size: 1.8rem;
  margin-bottom: 30px;
  text-align: center;
}

caption{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height:0
}

.board thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background: #65d3e3;
}

.board tbody th {
  padding: 10px;
}

.board td {
  padding: 10px;
  vertical-align: top;
  font-weight: bold;
  font-size: 1.6rem;
}

.board tbody tr:nth-of-type(2n) {
  background: #EBEEF0;
}

.all-delete{
  width: 6vw;
  height: 30px;
  font-size: 1.6rem;
  border: none;
  color: #fff;
  background-color: #65d3e3;
  cursor: pointer;
  margin-left: 74%;
  margin-top: 30px;
}

.gridly { position: relative; }

.brick.small { width: 110px; height: 110px;
	  background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.delete{
  color: white;
  display: block;
  font-size: 24px;
  background: black;
  width: 24px;
  height: 24px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
}
