{% extends 'base/base.html' %}
{% block content %}

<script>
	$(document).ready(function(){

	});
</script>

<style>
.login_content{ margin-top : 10px; }
</style>
<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Welcome</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->


	<!-- *****************************************************************************************************************
	 CONTACT FORMS
	 ***************************************************************************************************************** -->

	 <div class="container mtb login_content">
	 	<div class="row">
	 		<div class="col-lg-12">
	 			<h4>지금 당장 가입하세요!</h4>
	 			<div class="hline"></div>
		 			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
		 			<form role="form" class="form-group" method="POST" id='registerForm' enctype="multipart/form-data" action="">
						{{  login_form.as_p }}
					  <button type="submit" class="btn btn-theme">Submit</button>
					</form>
			</div>
	 	</div><! --/row -->
	 </div><! --/container -->


{% endblock %}