{% extends 'base_dev/base.html' %}
{% block content %}
{% load staticfiles %}
<script src="{% static 'base_dev/js/talk_detail.js' %}"></script>


<main>
  <div class="talk-list-wrapper">
    <div class="talk-headline col-8">
      <h2 class="col-4">Details</h2>
      <div class="talk-btns col-4">
        <button id="comment_btn">댓글달기</button>
      </div>
    </div>

    <section class="talk-detail-container" id="post_detail_div">

      <!-- 댓글달기 클릭 시 뜨는 모달창 -->
      <button id="myBtn" style="display: none">Open Modal</button>

      <div id="mycomment" class="modal col-4" style="display: none">
        <div class="modal-content">
          <span class="modal-close">×</span>
          <form class ="form-group" action="" method="POST">
              <!-- {% csrf_token %}
              {{ post_form.as_p }} -->
            <fieldset>
              <legend class="hidden">댓글 작성하기 폼</legend>
              <label for="comment_text">Content</label>
              <textarea type="text" class="col-8" id="comment_text" name="content"></textarea>

              <button type="submit" class="write-btn">enter</button>
            </fieldset>
          </form>
        </div>
      </div>


      <div class="talk-main-content col-6">
        <div class="talk-paragraph col-5">
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicin</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing
          elit, sed do eiusmod tempor
           incididunt ut labore et dolore magna aliqua. Ut enim ad minim
           veniam, quis nostrud exercitation ullamco laboris nisi ut
           aliquip ex ea commodo consequat. Duis aute irure dolor
           in reprehenderit in voluptate velit esse cillum dolore
           eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
           a qui officia deserunt mollit anim id est laborum.</p>
          <div class="edit-footer">
            <div class="if-my-content"> <!-- 작성자에게만 보이는 아이콘 -->
              <img src="{% static 'base_dev/images/edit_item.png' %}" title="수정" alt="수정하기">
              <img src="{% static 'base_dev/images/delete_item.png' %} " title="삭제" alt="삭제하기">
            </div>
            <span>ys7049</span>
          </div>
        </div>
        <div class="talk-img col-3">
          <img src="{% static 'base_dev/images/img-1.png' %}" alt="">
        </div>
      </div>
      <div class="talk-comment col-5">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
          elit, sed do eiusmod tempor incididunt ut labore et dolore mag!!</p>
        <div class="edit-footer">
          <div class="if-my-content"> <!-- 작성자에게만 보이는 아이콘 -->
            <img src="{% static 'base_dev/images/edit_item.png' %}" title="수정" alt="수정하기">
            <img src="{% static 'base_dev/images/delete_item.png' %}" title="삭제" alt="삭제하기">
          </div>
          <span>Pretty Girl</span>
        </div>
      </div>
      <div class="talk-comment col-5">
        <p> quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit
          esse cillum dolore eu fugiat nulla pariatur.</p>
        <div class="edit-footer">
          <div class="if-my-content"> <!-- 작성자에게만 보이는 아이콘 -->
            <img src="{% static 'base_dev/images/edit_item.png' %}" title="수정" alt="수정하기">
            <img src="{% static 'base_dev/images/delete_item.png' %}" title="삭제" alt="삭제하기">
          </div>
          <span>sleepy02</span>
        </div>
      </div>
    </section>

  </div>
</main>



<!-- 말풍선 안에 표시될 실제 *** 메인 컨텐츠 *** 데이터 가져오기 -->
<script id="saytalk_detail_templ" type="text/x-jquery-tmpl">
  <div class="talk-main-content col-6">
    <div class="talk-paragraph col-5">
      <h3>${title}</h3>
      <p>${content}</p>
      <div class="edit-footer">
        <div class="if-my-content"> <!-- 이 디비전은 글 쓴 사람에게만 보이게!! -->
          <img src="{% static 'base_dev/images/edit_item.png' %}" title="수정" alt="수정하기">
          <img src="{% static 'base_dev/images/delete_item.png' %}" title="삭제" alt="삭제하기">
        </div>
        <span> </span> //여기는 작성자 데이터가 들어가야 함//
      </div>
    </div>
    <div class="talk-img col-3">
      <img src="${post_img}" alt="">
    </div>
  </div>
</script>



<!-- 말풍선 안에 표시될 실제 *** 댓글 컨텐츠 *** 데이터 가져오기 -->
<script id="saytalk_comment_templ" type="text/x-jquery-tmpl">
  <div class="talk-comment col-5">
    <p> </p> //여기는 댓글 데이터가 들어가야 함//
    <div class="edit-footer">
      <div class="if-my-content"> <!-- 작성자에게만 보이는 아이콘 -->
        <img src="{% static 'base_dev/images/edit_item.png' %}" title="수정" alt="수정하기">
        <img src="{% static 'base_dev/images/delete_item.png' %}" title="삭제" alt="삭제하기">
      </div>
      <span> </span> //여기는 작성자 데이터가 들어가야 함//
    </div>
  </div>
</script>




<footer class="talk-footer">
	<div class="footer col-8">
		<div class="footer-row col-3">
			<a href="#">Privacy &amp; Cookies</a>
			<a href="#">Terms &amp; Conditions</a>
			<a href="#">Accessibility</a>
			<a href="#">FAQ</a>
		</div>
		<div class="copyright col-4">
			<p>The celebrities named of featured on asos.com have not
				endorsed recommended or approved the items offered
				on site.
			</p>
			<p>Copyright © 2016 - All Rights Reserved</p>
		</div>
	</div>
</footer>

{% endblock content %}