{% extends 'base_dev/base.html' %}
{% block content %}
{% load staticfiles %}
<script src="{% static 'base_dev/js/talk_list.js' %}"></script>
<script src="{% static 'base_test/js/webrtc/RTCMultiConnection.min.js' %}"></script>

<script>

$(document).ready(function(){

    /*
     * 포스트 리스트 목록 조회
     */

    $("#photo_list_templ").tmpl({{ talk_list|safe }}).appendTo( "#photo_add_content" );


    /*
     * 포스트 상세내용 표시
     */

    $('#photo_add_content > a').click(function(){

          if ($(this).hasClass('hover')) {
              $(this).removeClass('hover');
          }
          else {
            $(this).addClass('hover');
          }
    });

    /*
     * 포스트 상세 페이지 이동
     */

     $('.detail_btn').click(function(){
 				location.href = '/saytalk/talk_detail/'+$(this).attr('id');
 		 });

 		$('#chat_btn').click(function(){
 			location.href = "/saytalk/chat_detail/";
 		});


});



</script>


<main>
  <div class="talk-list-wrapper col-8">
    <div class="talk-headline col-8">
      <h2 class="col-4">Currently Posted</h2>
      <div class="talk-btns col-4">
        <button id="post_btn">글쓰기</button>
        <button id="chat_btn">채팅</button>
      </div>
    </div>
    <div class="visual-container" id="photo_add_content">
      <!-- *********************** 예시로 넣어놓은 내용 2개 ************* --->
      <a href="#">
        <img src="{% static 'base_dev/images/img-1.png' %}"  alt="">
        <div class="text-in-img">
          <h3>I want to go home.</h3>
          <p>So tired.</p>
          <div class="hash-tag-in-img">
            <span>#javaScript</span><span>#getRest</span>
          </div>
          <div class="btn-in-img">
            <button class="detail_btn">Details</button>
            <button class="remove_btn">Remove</button> <!-- remove 버튼은 자기가 쓴 글에만 보이게 -->
          </div>
        </div>
      </a>

      <a href="#">
        <img src="{% static 'base_dev/images/img-11.pn' %} " alt="">
        <div class="text-in-img">
          <h3>playing guitar?</h3>
          <p>I love music. Would you like to join us?</p>
          <div class="hash-tag-in-img">
            <span>#Music</span><span>#guitar</span>
          </div>
          <div class="btn-in-img">
            <button class="detail_btn">Details</button>
            <button class="remove_btn">Remove</button> <!-- remove 버튼은 자기가 쓴 글에만 보이게 -->
          </div>
        </div>
      </a>
    </div>
  </div>
</main>


<!-- 이미지 안에 표시될 실제 텍스트 데이터 형식 불러오기 -->
<script id="photo_list_templ" type="text/x-jquery-tmpl">
  <a href="#">
    <img src="${ img_file }" class='photo_content_image' alt="">
    <div class="text-in-img">
      <h3>${ title }</h3>
      <p>${ content } </p>
      <div class="hash-tag-in-img">
        <span>#${ tag_names }</span>
        <span>#${ tag_names }</span>
      </div>
      <div class="btn-in-img">
        <button id= "${ id }" class="detail_btn">Details</button>
        <button id= "${ id }" class="remove_btn">Remove</button>
      </div>
    </div>
  </a>
</script>



<!-- 모달 창 설정 -->

<button id="myBtn" style="display: none">Open Modal</button>
<div class="dim" style="display:none"></div>

<div id="myModal" class="modal col-4" style="display: none">
  <div class="modal-content col-6">
    <span class="modal-close">×</span>
    <h4> POST 작성 </h4>
    <form class ="form-group col-8" action="{% url 'saytalk:posting' %}" method="POST">
        <!-- {% csrf_token %}
        {{ post_form.as_p }} -->
      <fieldset>
        <legend class="hidden">post 작성하기 폼</legend>
        <label for="id_title">Title</label>
        <input type="text" id="id_title">
        <label for="id_content">Content</label>
        <textarea type="text" class="col-8" id="id_content" name="content"></textarea>

        <p id="post_image_display"></p>
        <label for="hash_tag_ids" style="display: none">등록된 해시태그</label>
        <input type="hidden" id="hash_tag_ids" name="hash_tag_ids">
        <label for="image_file_ids" style="display: none">등록된 이미지</label>
        <input type="hidden" id="image_file_ids" name="image_file_ids">

        <button type="submit" class="write-btn">글쓰기</button>
      </fieldset>
    </form>

    <div role="form-inline" class="form-inline" method="POST"  enctype="multipart/form-data" action="">
      <form class="form-group img_upload">
      <!-- {{ image_form }} -->
      <label for="id_img_file"></label>
      <input class="form-control" id="id_img_file" name="img_file" type="file">
      <span id="file_temp_submit" class="btn btn-danger">첨부파일 추가</span>
      </form>
    </div>

  </div>
</div>


<footer class="talk-footer">
	<div class="footer col-8">
		<div class="footer-row col-3">
			<a href="#">Privacy &amp; Cookies</a>
			<a href="#">Terms &amp; Conditions</a>
			<a href="#">Accessibility</a>
			<a href="#">FAQ</a>
		</div>
		<div class="copyright col-4">
			<p>The celebrities named of featured on asos.com have not
				endorsed recommended or approved the items offered
				on site.
			</p>
			<p>Copyright © 2016 - All Rights Reserved</p>
		</div>
	</div>
</footer>

{% endblock content %}
