{% extends 'base_dev/base.html' %}

{% block content %}
{% load staticfiles %}

<script src="{% static 'base_dev/js/opening/jquery.gridly.js' %}"></script>
<script src="{% static 'base_dev/js/opening/materialize-tags.js' %}"></script>
<script src="{% static 'base_dev/js/profile/profile.js' %}"></script>
<link rel="stylesheet" href="{% static 'base_dev/css/opening/materialize-tags.css' %}">
<link rel="stylesheet" href="{% static 'base_dev/css/opening/jquery.gridly.css' %}">
<link rel="stylesheet" href="{% static 'base_dev/css/profile/profile.css' %}">
<link rel="stylesheet" href="{% static 'base_dev/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'base_dev/css/opening/register.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="{% static 'base_dev/js/profile.js' %}"></script>

<style>
.img-change{
    float: left;
    margin-left: -94px;}
.hidden_class{display : none; }
.materialize-tags{display:  block; color: black;}
.n-tag{ color: black;}
</style>

<script>


		$(document).ready(function(){

			/*
			 * 회원정보 이미지
			 */
			$('.gridly').gridly({
					base: 40,
					gutter: 5,
					columns: 5
			});

		  /*
			 * 이미지 목록 조회
			 */
		  $({{ image|safe }}).each(function(index, item){
				var img_div = $('#img_upload_div').append(
						 $('<div/>').addClass('brick small').attr('id',item.id)
												.append($('<a/>').addClass('delete').text('x'))
						 );

 			 			$('.gridly').append(img_div);
 			 			$('.gridly').gridly();

						var img_div = document.querySelectorAll('.brick')[index];
			 			img_div.style['background-image'] = 'url('+item.url+')';
			 			img_div.style['left'] = 160 * index;
			});


			/*
			 * 이미지 삭제
			 */

			 $(document).on("click", ".gridly .delete", function(event) {
	       		var $this;
	       		event.preventDefault();
	       		event.stopPropagation();
	       		$this = $(this);
	       		$this.closest('.brick').remove();
	       		return $('.gridly').gridly('layout');
	   	});

			/*
			 * 이미지 추가
		   */

			$('.img-btn').click(function(){
	 			$('#id_img_file').trigger('click');
	 		});

			 $("#id_img_file").change(function(){
	 			var _this = $(this);
	 			_this.attr('disabled',true);
	 			var img_length = $('#img_upload_div').find('div').length;
	 			if(img_length==5){
	 				alert('이미지는 5개까지 입력 가능합니다.');
	 				return false;
	 			}

	 			var form_data = new FormData();
	 					form_data.append("img_file",$('input[name=img_file]')[0].files[0])
	 					formAjax('POST', form_data, "{% url 'collection:temp_image' %}"
	 							, 'application/json'
	 							, function(response){
	 								_this.removeAttr('disabled');

	 									var img_div = $('#img_upload_div').append(
	 									     $('<div/>').addClass('brick small').attr('id',response.id)
	 									      	        .append($('<a/>').addClass('delete').text('x'))
	 									   	 );
	 									$('#id_img_file').val('');


	 									var img_div = document.querySelectorAll('.brick')[img_length];
	 									img_div.style['background-image'] = 'url('+response.img_file+')';
	 									img_div.style['left'] = 160 * img_length;

	 									event.preventDefault();
	   								event.stopPropagation();
	   								$('.gridly').append(img_div);
	   								return $('.gridly').gridly();
	 					});
	 		});

	    /*
			 * hash tag 입력
			 */
		 		$('.n-tag').keyup(function(e) {
		 		    if (e.keyCode == 13 || e.keyCode == 9){
		 						$(this).val('');
		 				};
		 		});



		});

</script>


<!-- member 리스트 불러오기 -->
<script id="member_list_templ" type="text/x-jquery-tmpl">
  <li class="member-info">
    <a class="member_detail_btn" href="#" data-tags ='${tag_names}' id= '${id}'>
    	<span class="member-img" id= '${id}' data-tags ='${tag_names}'> <img class="image_dir" src="${img_file}" style="width:45px; height:45px;" alt=""> </span>
      <div id="member_tags_${id}">
        <span class="member-name"><strong id= '${id}' data-tags = '${ tag_names }'> ${username} </strong></span>
        <!--<span class="hash-tag" id= 'member_tags_${id}'> ${ tag_names } <span>-->
      </div>
    </a>
  </li>
</script>



<main>
  <div class="mypage-wrapper">
    <nav class="mypage-navi col-1">
      <ul>
        <li><a href="#" class="my-profile">MY PROFILE</a></li>
        <li><a href="#" class="my-post">EDIT MY POST</a></li>
      </ul>
    </nav>

    <section class="mypage-view col-7">

      <!-- 개인정보 수정 페이지 -->
      <div class="page-div col-8" id="my-profile">
        <div class="img-change col-4">
					<div id="img_upload_div" class='gridly'></div>
          <!-- <img class="col-2" src="../../../static/base_dev/images/syYeom.jpg" alt="내 프로필 이미지"> -->
          <div class="img-change-btn">
						<button class="img-btn">사진 입력</button>
          </div>
        </div>
        <div class="profile-change col-4">
          <h3>개인 정보 수정 페이지입니다.</h3>
          <form action="" name="profile-form" class="profile-form">
            <fieldset>
              <legend class="hidden">개인정보 수정 폼</legend>
              <label for="mynickname">Nickname</label>
              <input type="text" id="mynickname" value="{{ request.user.username }}" disabled>
              <label for="mypassword">Password</label>
              <input type="password" id="mypassword" value="password">
							<input id="hash_tag_inputs" type="text" placeholder="해시태그 추가" data-role="materialtags" value="{{ hash_tags }}">
            </fieldset>
            <button class="profile-change-btn">Change</button>
          </form>
        </div>

				<div id="img_upload_form" class="img_hash_join_class hidden_class" method="POST">
						<a class="img-btn"><span> 이미지 첨부 </span></a>
						<div class="form-group img-submit hidden_class">
							 <input class="form-control" id="id_img_file" name="img_file" type="file" required />
						</div>
				</div>

				<!-- <section class="col-6 profile_body">
		      <div class="col-8">
		        <div>
		          <h2> 개인정보 수정 </h2>
		      </div>
					<div class="col-8">
							<div class="">
		 					<label for=""> 닉네임 변경 </label>
							<input type="text" name='username' value="{{ request.user.username }}" disabled=true>
							</div>

							<div class="gridly_custom">
							<label for=""> 사진 수정 </label>
							</div>
							<div id="img_upload_div" class='gridly'></div>
							 <button class="img-btn">사진 입력</button>
							 <input id="hash_tag_inputs" type="text" placeholder="해시태그 추가" data-role="materialtags" value="{{ hash_tags }}">
							</div>
					</div>
		    </section>

				<div id="img_upload_form" class="img_hash_join_class hidden_class" method="POST">
						<a class="img-btn"><span> 이미지 첨부 </span></a>
						<div class="form-group img-submit hidden_class">
							 <input class="form-control" id="id_img_file" name="img_file" type="file" required />
						</div>
				</div> -->


      </div>

      <!-- 내가 쓴 글 관리 페이지 -->
      <div class="page-div col-8" id="my-post" style="display: none">
        <h3>내가 쓴 글 조회 페이지입니다.</h3>
        <table class="board col-5">
          <caption>내가 쓴 글 목록</caption>
            <thead>
              <tr>
                  <th class="col-2" scope="cols">DATE</th>
                  <th class="col-4" scope="cols">TITLE</th>
                  <th class="col-2" scope="coles">COMMENT</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <th scope="row">2016.12.07</th>
                  <td><a href="#">I want to go home.</a></td>
                  <td>6</td>
              </tr>
              <tr>
                  <th scope="row">2016.12.03</th>
                  <td><a href="#">playing guitar</a></td>
                  <td>3</td>
              </tr>
              <tr>
                  <th scope="row">2016.11.27</th>
                  <td><a href="#">FrontEnd design study..</a></td>
                  <td>4</td>
              </tr>
              <tr>
                  <th scope="row">2016.11.12</th>
                  <td><a href="#">Nice to meet you!</a></td>
                  <td>12</td>
              </tr>
            </tbody>
            <summary class="hidden">내가 쓴 글 목록과 각 댓글 수를 최근부터 오래 된 순으로 보여주는 표입니다.</summary>
          </table>
          <button class="all-delete">모두 삭제</button>
      </div>

    </section>
  </div>
</main>



<footer>
	<div class="footer col-8">
		<div class="footer-row col-3">
			<a href="#">Privacy &amp; Cookies</a>
			<a href="#">Terms &amp; Conditions</a>
			<a href="#">Accessibility</a>
			<a href="#">FAQ</a>
		</div>
		<div class="copyright col-4">
			<p>The celebrities named of featured on asos.com have not
				endorsed recommended or approved the items offered
				on site.
			</p>
			<p>Copyright © 2016 - All Rights Reserved</p>
		</div>
	</div>
</footer>



{% endblock %}
