
{% extends 'base_dev/base.html' %}
{% block content %}

{% load staticfiles %}

<script>
	$(document).ready(function(){

	});
</script>

<style>

.container{
	flex-direction: column;
}

.content{
	text-align: center;
}

.member-info{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
}

.content h4, .member-info h4{
	font-size: 2rem;
	margin-top: 20px;
	margin-bottom: 20px;
}

.content img{
	margin-bottom: 30px;
}

.team-member img{
	width: 80px;
	height: 80px;
}

.team-member{
	width: 400px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.team-member strong{
	font-size: 1.6rem;
	margin-left: 20px;
	margin-right: 20px;
}


</style>

<main>
	<div class="container">
		<div class="content col-4">
 			<h4>NULL 프로젝트란?</h4>
      <img width="70%" src ="{% static 'base_dev/img/ProjectManage.jpg' %}">
			<p>FAST CAMPUS의 웹 프로그래밍 스쿨, 프론트엔드 개발 스쿨 수강생들이 함께 만든 익명 SNS 서비스입니다.<br>
			다양한 해시태그로 나와 맞는 사람들을 찾아보세요.<br> 취미생활부터 최신 트렌드까지, 즐거운 이야기들이 당신을 기다립니다! </p>
		</div>
		<div class="member-info col-4">
			<h4>서비스를 만든 사람들</h4>
			<div class="our-members">
				<div class="team-member">
					<img src="{% static 'base_dev/img/sjPark.jpg' %}" alt="박상준">
					<strong>Sangjun Park</strong>
					<p>저는 박상준 입니다.</p>
				</div>
				<div class="team-member">
					<img src="{% static 'base_dev/img/shHong.png' %}" alt="홍성호">
					<strong>Sungho Hong</strong>
					<p>힘들다 힘들다 힘들다...</p>
				</div>
				<div class="team-member">
					<img src="{% static 'base_dev/img/wjCho.png' %}" alt="조원준">
					<strong>Wanjun Cho</strong>
					<p>숟가락~!!</p>
				</div>
				<div class="team-member">
					<img src="{% static 'base_dev/img/syYeom.jpg' %}" alt="염서연">
					<strong>Seoyeon Yeom</strong>
					<p>화이팅 화이팅</p>
				</div>
			</div>
		</div>
	</div>
</main>

	<footer>
	  <div class="footer col-6">
	 		<div class="copyright">
	 			Copyright © 2016 - All Rights Reserved
	 		</div>
	 		<div class="end-row">
	      <a href="#">Privacy &amp; Cookies</a>
	      <a href="#">Terms &amp; Conditions</a>
	      <a href="#">Accessibility</a>
				<a href="#">FAQ</a>
			</div>
		</div>
	 </footer>

{% endblock %}
