{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>NULL project</title>

    <link rel="shortcut icon" href="{% static 'base_dev/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'base_dev/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'base_dev/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'base_dev/css/register.css' %}">
    <link rel="stylesheet" href="{% static 'base_dev/css/reset-sy.css' %}">
    <link rel="stylesheet" href="{% static 'base_dev/css/grid.css' %}">
    <script src="{% static 'base_test/js/jquery_latest.js' %}"></script>
    <script src="{% static 'base_test/js/ajax_custom.js' %}"></script>
    <script src="{% static 'base_test/js/jquery_template.js' %}"></script>

    <!-- Bootstrap core CSS -->
    <!-- <link href="{% static 'base_dev/css/bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'base_dev/css/style.css'%}" rel="stylesheet">
    <link href="{% static 'base_dev/css/font-awesome.min.css'%}" rel="stylesheet">
    <script src="{% static 'base_dev/js/jquery_latest.js' %}"></script>
    <script src="{% static 'base_dev/js/ajax_custom.js' %}"></script>
    <script src="{% static 'base_dev/js/jquery_template.js' %}"></script> -->
    <!-- Just for debugging purposes. Don't actually copy this line! -->
<!-- >>>>>>> 562bfe4857742f5a537b37d430a0fc5d4c6d1ee4 -->
    <!--[if lt IE 9]>
    <script src="{% static 'base_dev/js/ie8-responsive-file-warning.js' %}"></script><![endif]-->

  </head>

  <body>

    <!-- Fixed navbar -->
    <header class="col-8">
      <div class="head-container col-6">
        <a class="brand-logo" href="">NULL PROJECT</a>
        <div class="navigation col-4">
          <ul>

            {% if user.is_authenticated %}
            <li class="active"><a href="{% url 'member:around_me' %}">Around Me</a></li>
            <li><a href="{% url 'saytalk:talk_list' %}">Say Talk</a></li>
            <li><a href="{% url 'member:profile' %}">My Page</a></li>
            <li><a href="{% url 'member:login' %}">Log Out</a></li>
            {% else %}
            <li class="active"><a href="/main_login">Login</a></li>
            <li><a href="/about_us">About Us</a></li>
            <li><a href="/register">Join Us</a></li>
            {% endif %}

          </ul>
        </div>
      </div>
    </header>

	{% block content %}

	{% endblock %}


  </body>
</html>
