{% extends 'base_dev/base.html' %}
{% block content %}

<script>
	$(document).ready(function(){
			$('.login-btn').click(function(){

				var form_data = $("#login_form").serialize();
				$.ajax( {
					  type: "POST",
					  url:  "{% url 'member:login' %}",
					  data: form_data,
					  success: function( response ) {
						location.reload();
					  },
					  error : function(response){
					  	alert('error baby');
					  }
				});




			});
	});
</script>


<main>
  <div class="container col-8">
		<div class="content col-4">
			<h3>Log in Here!</h3>
			<div class="row">
	 			<div class="form-row">
			 		<form role="form" id='login_form' class="form-group" method="POST" action="{% url 'member:login' %}">
					<!-- {{  login_form.as_p }} -->
						<fieldset>
							<legend class="hidden">로그인 폼</legend>
							<div class="email-form">
								<label for="user-email" class="form-label">Nickname</label>
								<input type="text" id="user-email" name="username" class="form-input" required placeholder="Nickname">
							</div>
							<div class="password-form">
								<label for="password" class="form-label">Password</label>
								<input type="password" id="password" name="password" class="form-input" required placeholder="Password">
							</div>
						</fieldset>
					</form>
					<button type="submit" class="login-btn">Login</button>
				</div>
				<div class="not-member">
					<p class="go-to-join-btn">아직 회원이 아니신가요?</p>
					<a href="/register">회원가입</a>
					<a href="#">소셜 계정으로 로그인</a>
				</div>
			</div>
		</div>
	</div>
</main>

<footer>
  <div class="footer col-6">
 		<div class="copyright">
 			Copyright © 2016 - All Rights Reserved
 		</div>
 		<div class="end-row">
      <a href="#">Privacy &amp; Cookies</a>
      <a href="#">Terms &amp; Conditions</a>
      <a href="#">Accessibility</a>
			<a href="#">FAQ</a>
		</div>
	</div>
 </footer>

{% endblock %}
